<p>echart works!</p>
<div class="form-check form-switch">
  <input
    class="form-check-input"
    type="checkbox"
    role="switch"
    id="flexSwitchCheckChecked"
    (click)="darkmode()"
  />
  <label class="form-check-label" for="flexSwitchCheckChecked">Dark Mode</label>
</div>
<div id="main" style="width: 1000px; height: 600px"></div>
<br /><br />
<div id="line" style="width: 1000px; height: 800px"></div>
<div id="heatmap" style="width: 1000px; height: 800px"></div>
<div id="graph" style="width: 1000px; height: 800px"></div>
<!-- <div echarts ></div> -->
<div id="tree" style="width: 1000px; height: 800px">hi</div>
